---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #1b1b1b !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import 'minimal-mistakes';

/* Custom styles */

.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.2;
}

.archive__item-title {
    font-size: 0.9em !important;
}

.archive__item-excerpt {
    font-size: 0.7em !important;
}

.page__content {
    p {
        font-size: 0.8em;
    }
    ul {
        font-size: 0.8em;
    }
    ol {
        font-size: 0.8em;
    }
}
.page__hero--overlay {
    text-align: left;

    .wrapper {
        max-width: 55% !important;
        margin-right: 0 !important;
        margin-left: auto !important;
        width: 100% !important;
    }
    @media screen and (max-width: 768px) {
        .wrapper {
            max-width: 100% !important; /* Full width on smaller screens */
            margin: 0 auto !important; /* Center the content */
        }
    }
}

.masthead {
    border-bottom: 0 !important; /* Remove the border */
    margin-bottom: 0 !important; /* Remove any margin */
}

.initial-content {
    margin-top: 0 !important; /* Remove top margin from content */
}

.list__item {
    .archive__item {
        display: flex;
        gap: 1.5em;
        align-items: flex-start;
    }

    .archive__item-teaser {
        flex: 0 0 150px; // Increased from 100px for better visibility
        margin: 0;
        overflow: hidden;
        border-radius: 10x; // Add this line for rounded corners

        img {
            width: 100%;
            height: 100px; // Fixed height
            object-fit: cover; // This will ensure the image covers the area nicely
            border-radius: 10px;
        }
    }

    .archive__item-content {
        flex: 1;
    }

    .archive__item-title {
        margin-top: 0;
    }
}

.highlight {
    font-size: 0.9em;
}

.mobile-warning {
    display: none;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}
.warning-content {
    color: #721c24;
}
.warning-content i {
    font-size: 2em;
    margin-bottom: 10px;
}
.warning-content h3 {
    margin: 10px 0;
}
@media screen and (max-width: 800px) {
    .mobile-warning {
        display: block;
    }
    .tableau-container,
    .tableau-container *,
    #viz1738273781365,
    .tableauViz,
    .tableauPlaceholder {
        display: none !important;
        height: 0 !important;
        width: 0 !important;
        overflow: hidden !important;
    }
}
